@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .editor {
    @apply mb-8 md:mb-0
  }

  .editor th {
    @apply text-left px-4
  }

  .editor td {
    @apply py-1
  }

  .stats-table tr {
    @apply border-t border-gray-500 align-top
  }

  .stats-table td {
    @apply py-2
  }

  .stats-card {
    text-shadow: 1px 1px 1px #808080;
    @apply text-center text-white font-semibold px-1.5 py-0.5 mr-2 text-xl rounded-md
  }

  .stats-card.bg-warning {
    text-shadow: 0.75px 0.75px 1px #808080;
  }

  .comment-card {
    text-shadow: 0.5px 0.5px 0.5px #808080;
  }
}