@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .editor th {
    @apply text-left px-4
  }

  .stats-card {
    text-shadow: 1px 1px 1px #808080;
    @apply text-center text-white font-semibold p-2 m-1 text-xl rounded-md
  }

  .stats-card.bg-warning {
    text-shadow: 0.75px 0.75px 1px #808080;
  }

  .comment-card {
    text-shadow: 0.5px 0.5px 0.5px #808080;
  }
}